.container {
  max-width: 414px;
  margin: auto;
  padding: 1rem 2.3rem;
  overflow: hidden;
}

#hero {
  background: url(../images/bg-hero-mobile.svg) no-repeat center center/cover;
  /* height: 50vh; */
}

.header {
  display: flex;
  margin-bottom: 1rem;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.hero-logo {
  max-height: 0.9rem;
  width: auto;
}

.btn-light {
  text-align: center;
  padding: 0.3rem 1.5rem;
  font-size: 0.7rem;
  border-radius: 1.5rem;
  background: #fff;
  border: none;
  box-shadow: 0 3px 2px var(--ter-color);
  /* color: var(--ter-color); */
}

.btn-primary {
  text-align: center;
  padding: 0.3rem 1.8rem;
  font-size: 0.8rem;
  border-radius: 1.5rem;
  background: var(--pri-color);
  color: #fff !important;
  border: none;
  box-shadow: 0 3px 2px var(--pri-color);
  margin: auto;
  align-self: center;
}

.showcase {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.showcase button {
  margin: 0.5rem 0;
  margin-left: 3rem;
}

.lead-text {
  /* width: 45%; */
  padding-top: 0.5rem;
  width: 100%;
  padding: 1rem;
}

.lead-heading {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  text-align: center;
}

.lead-para {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  text-align: center;
}

.lead-img {
  /* width: 50%; */
  width: 100%;
  margin: 0.5rem 0;
}

#features {
  margin: 2rem 0.2rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  /* width: 100%; */
}

.feature-text {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 12px;
}

.feature-text h3 {
  line-height: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.feature-img-con {
  width: 100%;
}

.feature-img {
  /* height: 20rem; */
  width: 100%;
  object-fit: contain;
  padding: 1rem;
}

.card-1 {
  flex-direction: column-reverse;
}

.card-3 {
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}

/* footer  */

#footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: end; */
}

.footer-content {
  background: var(--sec-color-2);
  position: absolute;
  width: 100vw;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(25% - 2rem);
  color: #fff;
  font-size: 12px;
  /* height: 50vh; */
  flex-direction: column;
}

.call-card {
  /* display: flex; */
  /* align-self: center; */
  /* justify-self: center; */
  /* align-items: center; */
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  left: auto;
  right: auto;
  top: -100px;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 1;
  /* margin: auto; */
  margin-top: 50px;
}

.call-card-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  text-align: center;
}

.call-card-items h4 {
  font-size: 0.9rem;
}

.btn-primary-footer {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 1.5rem;
  background: var(--pri-color);
  color: #fff !important;
  border: none;
  box-shadow: 0 3px 2px var(--pri-color);
  margin-top: 0.5rem;
}

.address {
  width: 100%;
  /* padding-right: 3rem; */
  margin-top: 1rem;
  padding: 1rem 1rem;
}

.address p{
  padding-left: 0.5rem;
  text-align: left;
  margin-bottom: 10px;
}

.info {
  margin-top: 1.2rem;
  padding: 0rem 1rem;
}

.contact {
  margin-top: 0.2rem;
  padding: 0rem 1rem;
}

.rights {
  color: var(--sec-color-1);
  text-align: center;
  margin-top: 2.2rem;
  font-size: 10px;
  align-items: center;
}

.social {
  margin-top: 1.2rem;
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

.footer-content li {
  padding: 0.8rem 0rem;
  line-height: 1rem;
}

/* i {
  padding-right: 1rem;
  display: inline-block;
} */

.footer li {
  padding: 0.4rem 0rem; */
/* }

.social {
  margin-top: 1rem;
  padding-right: 1rem;
}

.footer-logo {
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
  height: 2rem;
  margin-bottom: 2rem;
}*/


